body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(32, 72, 117, 0.795);
}

#artist-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

#page-header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 100px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h3 {
    margin: auto;   
    text-align: center;
    align-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h3:hover {
    color: white;
    background-color: #0f69b3;
    cursor: pointer;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#thumb {
    max-height: 450px;
}

a {
    color: rgb(24, 24, 24);
    font-weight: bold;
    font-style: oblique;
}

#info-div {
    display: flex;
    align-items: center;
}

#info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    border: solid;
    border-color: black;
    background-color: #0f69b39f;
    border-width: 1px;
    border-radius: 10px 50px;
    padding-left: 65px;
    text-align: left;
    width: 250px;
    height: 400px;
    color: lightgray;
    font-weight:600;
}

#links {
    display: flex;
    justify-content: space-around;
    border: solid;
    border-color: #0f69b3;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(224, 224, 224);
}

#description {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#description-content {
    display: flex;
    width: 1000px;
    color: rgb(24, 24, 24);
    font-weight: bold;
}

#comment-area {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.comment-content {
    color: black;
    border: solid;
    border-radius: 0px 10px 10px;
    border-width: 0px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    padding-left: 15px;
    margin-left: 50px;
    margin-right: 10px;
}

label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#name-box {
    display: flex;
    border-radius: 5px;
    height: 20px;
    border-width: 1px;
    background-color:rgb(224, 224, 224);
}

#comment-box {
    display: flex;
    height: 100px;
    width: 650px;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(224, 224, 224);
}

#submit {
    display: flex;
    margin-bottom: 50px;
    padding: 10px 20px;
    float: right;
    border-radius: 20px;
}

#submit:hover {
    background-color: lightslategray;
    cursor: pointer;
    color: rgb(224, 224, 224);
}

#comment-list {
    display: flex;
    flex-direction: column-reverse;
}

.comment {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    color: lightgray;
    background-color: #0f69b39f;
    border: solid;
    border-color: #0f69b3;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    padding-left: 15px;
    text-align: left;
    width: 750px;
    height: auto;
}

.comment-name {
    display: flex;
    margin-bottom: 1px;
}

#banner {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}