#artist-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

h3 {
    margin: auto;   
    text-align: center;
    align-content: center;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#thumb {
    max-height: 400px;
}

#info-div {
    display: flex;
    align-items: center;
}

#info-list {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    border: solid;
    border-color: #0f69b3;
    padding: 10px;
    margin: 10px;
    float: left;
    text-align: left;
    width: 200px;
    height: 350px;
}

li {
    display: flex;
}

#links {
    display: flex;
    justify-content: space-around;
}

#description {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#description-content {
    display: flex;
    width: 1000px;
}

#comment-area {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#comment-box {
    display: flex;
    margin-top: 10px;
    height: 100px;
    width: 500px;
}

#submit {
    display: flex;
}

#comment-list {
    border: solid;
    border-color: #0f69b3;
    padding: 10px;
    margin: 10px;
    float: left;
    text-align: left;
    width: 750px;
    height: 100px;
}

.comment {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
}

.comment-name {
    display: flex;
    margin-bottom: 1px;
}